<?xml version="1.0" encoding="utf-8"?>
<plugin id="net.texh.cordovapluginstepcounter" version="0.0.4"
    xmlns="http://www.phonegap.com/ns/plugins/1.0">

    <name>Cordova Step Counter Plugin</name>

    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/stepcounter.js" target="js/stepcounter.js" />

    <js-module name="stepcounter" src="www/stepcounter.js">
        <clobbers target="stepcounter" />
    </js-module>

    <platform name="android">

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:enabled="true"
                android:name="net.texh.cordovapluginstepcounter.StepCounterService" />

            <receiver android:name="net.texh.cordovapluginstepcounter.StepCounterShutdownReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                    <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
                </intent-filter>
            </receiver>

        </config-file>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-feature android:name="android.hardware.sensor.stepcounter" />
            <uses-feature android:name="android.hardware.sensor.stepdetector" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaStepCounter">
                <param name="android-package"
                    value="net.texh.cordovapluginstepcounter.CordovaStepCounter" />
            </feature>
        </config-file>

        <dependency id="android.arch.work:work-runtime" version="1.0.0-alpha04"/>

        <source-file src="src/android/net/texh/cordovapluginstepcounter/CordovaStepCounter.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file src="src/android/net/texh/cordovapluginstepcounter/StepCounterService.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file src="src/android/net/texh/cordovapluginstepcounter/StepChangeListener.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file src="src/android/net/texh/cordovapluginstepcounter/StepCounterHelper.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file
            src="src/android/net/texh/cordovapluginstepcounter/StepCounterShutdownReceiver.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file src="src/android/net/texh/cordovapluginstepcounter/StepSensorManager.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file src="src/android/net/texh/cordovapluginstepcounter/SynchronizationWorker.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
        <source-file src="src/android/net/texh/cordovapluginstepcounter/SynchronizationManager.java"
            target-dir="src/net/texh/cordovapluginstepcounter/" />
    </platform>

</plugin>
